/*Index page stylings*/

/*Calculate the height of the screen and set to - 6 rem for top and bottom navs*/
.index-page {
    display:flex;
}

.nav-container {
    height: 3rem;
    border-bottom: 1px solid black;
    width: 100%;
}

.nav-icon-container {
    display: inline-flex;
    height: 3rem; 
    width: 3rem;
    justify-content: center;
    color: black;
}

.nav-clock-container {
    display: inline-flex;
    height: 3rem; 
    width: 6rem;
    justify-content: center;
    color: black;
    font-size: 175%;
}

.index-footer {
    width: 100%;
    height: rem;
    align-items: flex-end;
    border-top: 1px solid #000;
}

.tab-nav {
    margin: 0;
    width: 28rem;
    border-right: 1px solid #000;
}

.tab {
    height: 10em;
    padding-top: 2rem;
    padding-left: 2rem;
    padding-right: 2rem;
    border-bottom: 1px solid #000;
}

.tab-end {
    border: none;
}

.tab-image {
    height: 6rem;
    width: 6rem;
}

.tab-text {
    display: flex;
    float: right;
    justify-content: center;
    width: 8rem;
}

.large-pane {
    margin: auto;
    position: absolute;
    top: 0; 
    left: 0; 
    bottom: 50px; 
    right: 0;
    width: 85rem;
    height: 35rem;
    border: 1px solid #000;
    z-index: 50;
}

.small-collection-pane {
    margin: auto;
    position: absolute;
    top: 250px; 
    left: 100px; 
    bottom: 8px; 
    right: 0;
    width: 85rem;
    height: 25rem;
    border: 1px solid #000;
    z-index: 100;
}


/*Quote-card page stylings*/

.quote-card {
    position: absolute;
    width: 500px;
    height: 650px;
    /*Positioning*/
    left: 50%;
    top: 50%;
    -moz-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.quote-card:before {
    content: ' ';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0.12;
    background-image: url('../images/sneakers.png');
    background-repeat: no-repeat;
    background-position: 50% 0;
    -ms-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    background-size: cover;
}

.quote-container {
    display: inline-block;
    width: 60%;
    height: 135px;
    min-height: 135px;

}

.btn-container {
    display:flex;
    height: 135px;
    justify-content: center;
    width: 20%;
}

.quote-btn {
    align-self: flex-end;
}

.avatar {
    border-radius: 50%; 
    width: 75px;
    height: 75px;
    border: 2px solid #2EC7BF;
}

.quote-symbol {
    color: #2EC7BF; 
    font-size: 250%;
}

.loader-bar {
    color: #2EC7BF; 
    background-color: #4C4F52;
    align-self: flex-end;
}

.accent {
    color: #2EC7BF; 
}

.custom-grey-bg {
    background-color: #4C4F52;
}

/*Media Queries*/
@media (max-width: 500px) {
    .quote-card {
        width: 300px;
    }
}

@media (max-height: 600px) {
    .quote-card {
        width: 375px;
    }
}