<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0" />
    <title>Zachary Jacob Collins</title>

    <!-- CSS  -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
    <link href="css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
</head>

<body class="custom-grey-bg">

    <!--  card  -->
    <div id="vue-quote-card">
        <div class="section">
            <div class="quote-card z-depth-5">
                <div class="quote-card-background"></div>
                
                    <!-- nav -->
                    <div class="section">
                        <div class="row">
                            <div class="col s2 m2">
                                <h6 class="white-text"> {{ current + 1 }} of {{ quotes.length }} </h6>
                            </div>
                            <!-- hamburger 
                            <div class="btn-container right accent">
                                <a class="btn-floating btn">
                                    <i class="material-icons">reorder</i>
                                </a>
                            </div> -->
                        </div>
                    </div>
                    <!-- /nav -->

                    </br></br></br></br>

                    <!-- quote container -->
                    <div class="valign-wrapper">
                        <div class="btn-container"><a v-if="current >= 1" @click="current -= 1" class="btn-floating btn valign grey darken-4"><i class="material-icons">settings</i></a></div>
                        <div class="quote-container"> 
                            <h5 class="white-text center-align">
                                <span class="quote-symbol">“</span> {{ quotes[current].text }}
                            </h5> 
                        </div>    
                        <div class="btn-container"><a v-if="current < quotes.length-1" @click="current += 1" class="btn-floating btn valign grey darken-4"><i class="material-icons">settings</i></a></div>
                    </div>
                    <!-- /quote container -->



                    </br></br></br></br></br>
        

                    <!-- quote avatar -->
                    <div class="center-align">
                        <div class="row">
                            <img src="{{ quotes[current].avatar }}" alt="" class="avatar"> <!-- notice the "circle" class -->
                        </div>
                        <h6 class="white-text thin">{{ quotes[current].author }}</h6>
                    </div>
                    <!-- quote avatar -->

                    </br></br></br></br>
        

                    <div class="progress loader-bar">
                        <div class="determinate" style="width: {{ current * 5 }}%"></div>
                    </div>
            </div>
      
        </div>
       
    </div>
    <!--  /card    -->



    <!--  Scripts-->
    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="js/materialize.js"></script>
    <script src="js/init.js"></script>


    <!-- Vue.js -->
    <script src="js/vue.js"></script>
    <script src="js/components/quotes.js"></script>

</body>

</html>